name: CI - Cypress Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Clonar o repositório
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2️⃣ Instalar Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      # 3️⃣ Instalar dependências do projeto
      - name: Install dependencies
        run: npm install

      # 4️⃣ Rodar os testes Cypress
      - name: Run Cypress tests
        run: npx cypress run --browser edge --headless

